In [216]:
from __future__ import print_function
import pandas as pd
import os
try:
    from urllib.request import urlretrieve
except ImportError:
    from urllib import urlretrieve


def download_file(file_url, folder_path, data_folder, file_name):
#     file_path = os.path.join(folder_path, data_folder, file_name)
    file_path = os.getcwd()+ data_folder+ file_name
    if not os.path.exists(file_path):
        print('Downloading file from ' + file_url + '...')
        urlretrieve(file_url, file_path)
        print('Done downloading file: '+file_path)
        input_file= pd.read_csv(url)
    else:
#         print('File: ' + file_path + ' already exists.')
        print(file_name + ' imported from local computer ')
        input_file= pd.read_csv(os.getcwd()+data_folder + file_name)
    return input_file


def download_dataset():
    print('Downloading Endava support tickets dataset...')
    folder_path =   os.getcwd() #os.path.join(         os.path.dirname(             os.path.abspath(__file__)        ),        'datasets'    )
    url = "https://privdatastorage.blob.core.windows.net/github/support-tickets-classification/datasets/all_tickets.csv"
    data_folder = "\Input_dataset\\"
    file_name = 'all_tickets.csv'
    input_data = download_file(url, folder_path, data_folder, file_name)
    return input_data


if __name__ == "__main__":
    emails_df= download_dataset()

Downloading Endava support tickets dataset...
all_tickets.csv imported from local computer

<>:29: DeprecationWarning: invalid escape sequence \I
<>:29: DeprecationWarning: invalid escape sequence \I
<>:29: DeprecationWarning: invalid escape sequence \I
<ipython-input-216-49472b101d16>:29: DeprecationWarning: invalid escape sequence \I
  data_folder = "\Input_dataset\\"

In [ ]:
emails_df = emails_df[emails_df['title'].notna()]
emails_df.head()

# Sentiment Analysis

In [217]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyser = SentimentIntensityAnalyzer()

In [218]:
def sentiment_analyzer_scores(sentence):
    score = analyser.polarity_scores(sentence)
#     result = "{:-<40} {}".format(sentence, str(score))
#     print(result)
#     return result
    return score

In [219]:
result1 = sentiment_analyzer_scores("The music is bad. But the story is good.")
result1 = sentiment_analyzer_scores("The music is bad.")
# result1 = sentiment_analyzer_scores("The food here is great, but the service is horrible")
result1

{'neg': 0.538, 'neu': 0.462, 'pos': 0.0, 'compound': -0.5423}

In [220]:
from textblob import TextBlob

In [221]:
testimonial =  TextBlob("The music is bad. But the story is good.")
testimonial.sentiment.polarity

5.551115123125783e-17

In [222]:
def Sentiment_TextBlob(sentense):
    testimonial =  TextBlob(sentense)
    return testimonial.sentiment.polarity

In [223]:
# import re
# import json
# m = re.search('{(.+?)}', result1)
# if m:
#     found = m.group(0)
       
#     json_acceptable_string = found.replace("'", "\"")
#     d = json.loads(json_acceptable_string)

#     print((d))

In [224]:
emails_df['Sentiment'] = emails_df['body'].map(sentiment_analyzer_scores)

In [225]:
Sentiment_result= emails_df['Sentiment'].apply(pd.Series)
del emails_df['Sentiment']
emails_df= pd.concat([emails_df,pd.DataFrame(Sentiment_result)], axis=1)
emails_df.head()

,title,body,ticket_type,category,sub_category1,sub_category2,business_service,urgency,impact,neg,neu,pos,compound
0,NaN,hi since recruiter lead permission approve req...,1,4,2,21,71,3,4,0.000,0.658,0.342,0.6369
1,connection with icon,icon dear please setup icon per icon engineers...,1,6,22,7,26,3,4,0.000,0.521,0.479,0.8442
2,work experience user,work experience user hi work experience studen...,1,5,13,7,32,3,4,0.000,0.729,0.271,0.6369
3,requesting for meeting,requesting meeting hi please help follow equip...,1,5,13,7,32,3,4,0.000,0.643,0.357,0.6124
4,reset passwords for external accounts,re expire days hi ask help update passwords co...,1,4,2,76,4,3,4,0.013,0.741,0.246,0.9869

In [249]:
emails_df['Positive'] = 0
emails_df['Negative'] = 0
emails_df['Neutral'] = 0

In [250]:
# if (emails_df[emails_df['compound'] >=0.5] ):
#     emails_df['Positive'] =1
# elif (emails_df[emails_df['compound']<=-0.5]):
#     emails_df['Negative'] = 1
# elif ((emails_df[emails_df['compound'] > -0.5]) & (emails_df[emails_df['compound'] < 0.5])):
#     emails_df['Neutral'] =1
    
    
emails_df.loc[emails_df['compound'] >= 0.5, ['Positive']] = 1
emails_df.loc[emails_df['compound'] <= -0.5, ['Negative']] = 1
emails_df.loc[ (emails_df['compound'] > -0.5)  & (emails_df['compound'] < 0.5), ['Neutral']] = 1

In [251]:
emails_df.tail(25)

,title,body,ticket_type,category,sub_category1,sub_category2,business_service,urgency,impact,neg,neu,pos,compound,Polarity,Positive,Negative,Neutral
48524,harding reception com access to information,sent tuesday july access hello could you pleas...,0,4,51,78,36,1,3,0.000,0.737,0.263,0.9442,0.225000,1,0,0
48525,authentication problem to referrals,sent monday july authentication problem referr...,0,4,21,1,68,2,3,0.204,0.624,0.173,-0.3182,-0.250000,0,0,1
48526,account,sent monday july hello have problem when tryin...,0,4,51,11,4,2,3,0.051,0.683,0.266,0.8360,0.000000,1,0,0
48527,exchange is down,down available,0,4,21,0,36,0,1,0.000,1.000,0.000,0.0000,0.122222,0,0,1
48528,oracle timecards error,sent friday july timecards error hi another is...,0,4,9,23,102,1,3,0.102,0.663,0.235,0.8625,0.125000,1,0,0
48529,cannot submit expenses,even though added electronic receipt saying ha...,0,4,21,41,68,1,3,0.000,0.777,0.223,0.3182,0.000000,0,0,1
48530,job referral is not available,sent thursday july job referral available hell...,0,4,21,41,40,1,3,0.130,0.651,0.219,0.5719,0.400000,1,0,0
48531,oracle update another bug,sent thursday july re update hi have found ano...,0,4,21,23,68,2,3,0.000,0.857,0.143,0.7184,0.166667,1,0,0
48532,social error,sent thursday july error dear when trying acce...,0,4,21,1,63,1,3,0.049,0.765,0.186,0.7579,0.118750,1,0,0
48533,backup server performance issues,sent thursday july server performance issues h...,0,6,49,73,41,2,3,0.022,0.835,0.143,0.9674,0.147115,1,0,0
48534,am approving expenses on a project code am not...,sent wednesday july action required expense re...,0,4,21,23,68,2,3,0.066,0.778,0.156,0.9022,0.019375,1,0,0
48535,bug,sent wednesday july bug hello have discovered ...,0,4,21,23,99,2,3,0.000,0.754,0.246,0.7579,0.000000,1,0,0
48536,oracle fusion is not working message unplanned...,sent friday july fusion working message unplan...,0,4,21,41,68,1,3,0.000,0.881,0.119,0.3182,0.000000,0,0,1
48537,for issues,sent friday july for hi below issue something ...,0,4,21,0,63,0,3,0.053,0.841,0.105,0.9237,-0.001449,1,0,0
48538,oracle error,sent thursday july error hi logging received e...,0,4,9,41,63,2,3,0.205,0.684,0.110,-0.3612,0.200000,0,0,1
48539,bandwidth problems,sent thursday july bandwidth problems hello yo...,0,6,32,0,52,1,3,0.119,0.734,0.148,0.2732,0.243981,0,0,1
48540,your password expire days,sent july re your password expire days have tr...,0,4,51,41,4,2,3,0.055,0.840,0.105,0.3818,0.100000,0,0,1
48541,sensitive information access,sent wednesday july re sensitive information a...,0,11,56,73,73,2,0,0.074,0.828,0.098,0.5719,0.065238,1,0,0
48542,malfunction,sent tuesday july re malfunction hi remark iss...,0,4,51,11,63,2,3,0.064,0.759,0.177,0.8442,0.096528,1,0,0
48543,cannot on outlook account from laptop,cannot laptop sa sa si intra si ca ti recent i...,0,4,21,41,36,2,3,0.000,0.901,0.099,0.7579,0.108333,1,0,0
48544,git space for a project issues with adding users,sent tuesday july re git space for hi got righ...,0,4,21,1,39,1,3,0.020,0.750,0.230,0.9893,0.297222,1,0,0
48545,error,sent july error hi guys can you help out with ...,0,4,9,41,10,2,3,0.178,0.493,0.329,0.5574,0.200000,1,0,0
48546,connection issues,sent tuesday july connection issues hello have...,0,5,32,0,32,2,3,0.082,0.793,0.125,0.4215,-0.161333,0,0,1
48547,error cube reports,sent tuesday july error hello guys have receiv...,0,4,21,41,35,1,3,0.087,0.787,0.127,0.3612,0.120000,0,0,1
48548,running out on extensions,hello please be advised we running out extensi...,0,4,51,98,96,2,3,0.000,0.750,0.250,0.9231,0.228571,1,0,0

In [226]:
def Sentiment_TextBlob(sentense):
    testimonial =  TextBlob(sentense)
    return testimonial.sentiment.polarity

In [227]:
emails_df['Polarity'] = emails_df['body'].map(Sentiment_TextBlob)
emails_df.head()

,title,body,ticket_type,category,sub_category1,sub_category2,business_service,urgency,impact,neg,neu,pos,compound,Polarity
0,NaN,hi since recruiter lead permission approve req...,1,4,2,21,71,3,4,0.000,0.658,0.342,0.6369,0.200000
1,connection with icon,icon dear please setup icon per icon engineers...,1,6,22,7,26,3,4,0.000,0.521,0.479,0.8442,0.037500
2,work experience user,work experience user hi work experience studen...,1,5,13,7,32,3,4,0.000,0.729,0.271,0.6369,0.100000
3,requesting for meeting,requesting meeting hi please help follow equip...,1,5,13,7,32,3,4,0.000,0.643,0.357,0.6124,0.000000
4,reset passwords for external accounts,re expire days hi ask help update passwords co...,1,4,2,76,4,3,4,0.013,0.741,0.246,0.9869,0.215513

In [265]:
emails_df.iloc[48438,1]

'sent friday problem hello have problem try complete schedule for last week start working wednesday can'

In [296]:
# type(emails_df['Polarity'][1])
emails_df[emails_df['Polarity']<-0.6]

,title,body,ticket_type,category,sub_category1,sub_category2,business_service,urgency,impact,neg,neu,pos,compound,Polarity,Positive,Negative,Neutral
3046,backup storage monthly disk report on,backup storage disk report dear user report re...,1,6,22,60,95,3,4,0.263,0.717,0.019,-0.9972,-0.620833,0,1,0
3384,entry submission for this week,submission hi getting error screen submit beca...,1,4,2,21,67,3,4,0.362,0.517,0.121,-0.5574,-0.714286,0,1,0
4619,oracle time correction,correction hi entered october november got sic...,1,4,2,21,67,3,4,0.153,0.605,0.242,0.2263,-0.714286,0,0,1
8020,and sonar integration,sonar hi helped integrate sonar please log bas...,1,4,3,7,88,3,4,0.000,0.625,0.375,0.5859,-0.800000,1,0,0
8666,fusion sick leave,sick leave hi please update follows sept sick ...,1,4,2,7,67,3,4,0.387,0.458,0.155,-0.7269,-0.714286,0,1,0
9469,monitor request,monitor please change monitor because bad,1,5,13,21,32,3,4,0.357,0.408,0.235,-0.2960,-0.700000,0,0,1
10041,notification outage on,hi guys please advised find thank thursday pm ...,1,6,22,7,95,3,4,0.053,0.654,0.292,0.8658,-0.800000,1,0,0
12247,access,july pm hello please link base forms base how ...,1,4,1,7,46,3,4,0.103,0.784,0.113,0.0490,-0.800000,0,0,1
18419,backup storage monthly disk report on,saturday backup storage disk report dear user ...,1,6,22,60,95,3,4,0.262,0.718,0.019,-0.9972,-0.620833,0,1,0
20283,update,thursday march pm update hello please add requ...,1,4,3,21,51,3,4,0.000,0.676,0.324,0.5859,-0.800000,1,0,0
20424,backup storage monthly disk report on,wednesday march backup storage disk report dea...,1,6,22,60,41,3,4,0.261,0.719,0.019,-0.9972,-0.620833,0,1,0
22223,backup storage monthly disk report on,wednesday february backup storage disk report ...,1,6,22,60,95,3,4,0.261,0.719,0.019,-0.9972,-0.620833,0,1,0
23166,unable to re input time sheet,received had error sheet removed bad add record,1,4,2,105,68,3,4,0.508,0.492,0.000,-0.7351,-0.700000,0,1,0
25717,backup storage monthly disk report on,thursday december backup storage disk report d...,1,6,22,60,41,3,4,0.261,0.719,0.019,-0.9972,-0.620833,0,1,0
27127,read rights for the following people confluence,tuesday november pm rights confluence hi start...,1,4,2,7,27,3,4,0.000,0.867,0.133,0.3182,-0.800000,0,0,1
27267,oracle fusion bad configuration,november bad configuration hi configured corre...,1,4,2,105,68,3,4,0.222,0.633,0.146,-0.2960,-0.700000,0,0,1
29076,approve impossible for,friday october pm approve impossible hi receiv...,1,4,2,7,68,3,4,0.000,0.878,0.122,0.3612,-0.666667,0,0,1
29518,backup storage monthly disk report on,saturday october backup storage disk report de...,1,6,22,60,95,3,4,0.261,0.719,0.019,-0.9972,-0.620833,0,1,0
34071,client can confluence space,tuesday july visible hi please investigate cli...,1,4,1,87,27,3,4,0.106,0.706,0.188,0.2732,-0.800000,0,0,1
35808,system performance issues amp,endpoint hello please help endpoint take cpu a...,0,5,14,111,63,2,3,0.222,0.540,0.238,-0.1208,-0.910000,0,0,1
36299,oracle timecard error,timecard error dear could you help fixing bloo...,0,4,45,41,67,2,3,0.369,0.373,0.258,-0.5030,-0.800000,0,1,0
37037,bad connection at en station,bad connection en station ii merge ii tot si s...,0,6,32,22,52,1,3,0.241,0.759,0.000,-0.5423,-0.700000,0,1,0
39563,oracle on,hi can you please help with for working messag...,0,4,51,11,66,2,3,0.228,0.588,0.184,-0.2960,-0.700000,0,0,1
44060,disable outlook prompt,sent friday march meeting rooms hi keep gettin...,0,4,9,77,36,2,3,0.153,0.710,0.136,-0.1531,-0.800000,0,0,1
45476,no access to the following link,layouts source customers customers view db typ...,0,4,21,1,46,1,3,0.259,0.741,0.000,-0.5423,-0.700000,0,1,0
47414,returns bad request,sent wednesday october returns bad request hi ...,0,4,57,41,24,2,3,0.268,0.613,0.119,-0.5994,-0.700000,0,1,0

In [283]:
len(emails_df[emails_df['compound']<=-0.5])

1063

In [284]:
len(emails_df[emails_df['compound'] >=0.5])

36839

In [285]:
len(emails_df[emails_df['Polarity'] <= - 0.5])

336

In [286]:
len(emails_df[emails_df['Polarity']>= 0.5])

6437

In [230]:
# from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [231]:
# import nltk
# nltk.downloader.download('vader_lexicon')

In [232]:
# SIA = SentimentIntensityAnalyzer()
# print((SIA.lexicon))